html {
    height:100%;
    background: #e3efd1;
}

body {
    line-height: 1.25;
    height: 100%;
    margin: 0px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4 {
    font-family: Georgia, serif;
}

aside {
    background-image: url(../images/bg.jpg);
    background-attachment: fixed;
    background-size: contain;
    /*background: #516E41; */
    color: #FFFFFB;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;    
    width: 240px;
    height: 100%;
    font-size: .8em;
}

header {
    text-align: center;
    padding-top: 20px;
}


.icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #FFFFFB;
    margin: 0 auto;
    background-image: url(../images/icon.jpg);
    background-size: 100% 100%;
}

header li {
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: normal;
}

aside a {
    color: #FFFFFB;
    -webkit-transition: all .2s;  
    transition: all .2s;  
}

aside a:hover {
    color: #B5CAA0;
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 5px 0;

}

#sidebar {
    padding: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 240px;
    text-align: center;
    margin: 0;
}

#footer-container {
    padding: 10px;
}

#contact {
    text-align: center;
}

#contact li {
    display: inline;
}

#contact p {
    position: relative;
    margin: 0;
    text-transform: uppercase;
}

#contact p::before {
    content: "";
    display: block;
    height: 1px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    background: #FFFFFB;
}

#contact p::after {
    content: "";
    display: block;
    height: 1px;
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    background: #FFFFFB;
}

#contact li:not(:first-child) ::before {
    content: "· ";
}

article {
    font-family: Georgia, serif;
    position: fixed;
    width: calc( 90% - 240px) ;
    height: calc(100% - 40px);
    left: 240px;
    top: 0;
    color: #516E41;
    overflow: auto;
}

article::-webkit-scrollbar {
    display:none
}

#home-content {
    padding: 10px;
}

.post-list a {
    padding: 5px;
    border-left: 5px solid #FFFFFB;
    border-radius: 5px;
    display: block;
    color: #516E41;
    background: #FFFFFB;
    -webkit-transition: all .2s;  
    transition: all .2s;  
}

.post-list a:hover {
    color: #4A593D;
    border-color: #4A593D;
}

.post-list ul {
    list-style: none;
}


.post-list h2,h3 {
    margin: 0;
    font-weight: normal;
}

.post-list {
    padding: 0;
    margin: 0;
    display: block;
    -webkit-transition: all .2s;  
    transition: all .2s;  
}

.post-list li {
    padding: 0 0 10px;
    -webkit-transition: all .2s;  
    transition: all .2s;  
}

.post-list a h2 {
    font-family: Georgia, serif;
}

.post-list a p {
    font-family: sans-serif;
    font-size: .8em;
    margin: 5px 0;
}

#pager {
    width: 100%;
    background: #FFFFFB;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px 0;
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-size: .85em;
    -webkit-transition: all .2s;  
    transition: all .2s;  
}
#pager * {
    display: inline;
    padding: 0 3px;
}

#pager a {
    color: #86C166;
    -webkit-transition: all .2s;  
    transition: all .2s;  
}

#pager a:hover {
    color: #4A593D;
}

#pager a[href^="#"] {
    color: #4A593D;
}

#post {
    margin: 10px;
    padding: 10px;
    background: #FFFFFB;
    border-radius: 5px;
    font-weight: normal;
}


#post a {
    color: #7BA23F;
}

#post a:hover {
    color: #4B4E2A;
}

#post-title {
    font-size: 2em;
    padding-bottom: 5px;
    border-bottom: 1px dashed #516E41;
    font-family: Georgia, serif;
}

#post-content {
    font-family: sans-serif;
    font-size: .85em;
    line-height: 1.5;
}

#post h1,h2,h3,h4,h5,h6 {
    font-family: sans-serif;
}


/* - - - - - - - - - - Media Styles - - - - - - - - - - */
/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {

}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {


    aside {
        position: static;
        width: 100%;
        bottom: auto;
        text-align: center;
        height: auto;
    }

    aside li {
        display: inline;
    }

    footer {
        position: static;
        width: 100%;
    }

    header li:not(:first-child) ::before {
        content: "· ";
    }

    article {
        position: static;
        width: 100%;
    }

    #contact p {
        display: none;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}
