<footer>
    <div id="footer-container">
        <div id="contact">
            <p> contact me </p>
            <ul>
                <li>
                    <a href="https://github.com/JoeyYi" target="_blank">Github</a>
                </li>
                <li>                
                    <a href="/index.html" target="_blank">Ins</a>
                </li>
                <li>
                    <a href="/index.html" target="_blank">Linkedin</a>
                </li>
                <li>                
                    <a href="mailto:wyjs97115@sina.com" target="_blank">Mail</a>
                </li>
            </ul>
        </div>
        <div id="copyright">
            <p>&copy; 2018 <a href="/index.html">Yijing Wang</a>
        </div>
    </div>
</footer>