<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <aside>
            <div id="sidebar">
                {% include header.html %}
                {% include footer.html %}
            </div>
        </aside>

        <article id="home-content">  
            <div >
                <ul class="post-list">
                    {% for post in site.posts %}
                        <li class="post-item">
                            <a class="post-link" href="{{ post.url | relative_url }}">
                                {% assign date_format = "%b %-d, %Y" %}
                                <span class="post-meta">{{ post.date | date: date_format }}</span>
                                <h3>{{ post.title | escape }}</h3>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </article>
    </body>
</html>
